@import "tailwindcss";

@theme {
  --color-primary: #1A2744;
    --color-primary2: #1A1650;
  --color-secondary: #BE9B56;
}

a:hover, button:hover {
  cursor: pointer;
}
input, textarea, select {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
}
.pl-10{
  padding-left: 2.5rem;
}
.selectLanguage {
  border: none;
  
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
}